# Specific Sway Home PC config
# vim: set ts=4 sw=4 sts=4 tw=120 cc=120 et ft=swayconfig : 

# Application Menu
    # Use the fuzzel application menu
    bindsym $mod+space exec fuzzel -l 20 -p "Run>"

#
# TMUX session menus
#
    set $tmux_ses ~/scripts/tmux_sessions.py
    set $all_ses ~/scripts/tmux_sessions.py -g work -g buri -g odin -g yggdrasil -g frigg
    set $run_menu fuzzel -d -l 12 -f "Inconsolata:style=Regular:size=12" -p "TMux Sessions>" -t 073642ff -S fdf6e3ff
    bindsym $mod+y exec $tmux_ses | $tmux_ses $($run_menu -s b58900ff)
    bindsym $mod+t exec $all_ses | $tmux_ses $($run_menu -s 268bd2ff)


### Output configuration
# You can get the names of your outputs by running: swaymsg -t get_outputs


    set $main_monitor "DP-2"
    #
    # output $main_monitor pos 0 0 res 2560x1440

    # Enable or disable the monitor
    bindsym $mod+m output $main_monitor toggle

# Start applications
# ============================================================================
#
# Find apps under Wayland with 'swaymsg -p -t get_tree'

    # Workspace 1
    for_window [class="Code"] move window to workspace $ws1

    # Workspace 3
    for_window [app_id="firefox"] move window to workspace $ws3

    # Workspace 4
    for_window [app_id="[Tt]hunar"] move window to workspace $ws4
    for_window [class="Caja"] move window to workspace $ws4
    for_window [app_id="org.gnome.Nautilus"] move window to workspace $ws4

    # Workspace 5
    for_window [app_id="evolution"] move window to workspace $ws5
    for_window [app_id="evolution-alarm-notify"] move window to workspace $ws5

    # Workspace 6
    for_window [class="[Bb]compare"] move window to workspace $ws6

    # Workspace 7
    for_window [class="Microsoft Teams - Preview"] move window to workspace $ws7
    for_window [class="teams-for-linux"] move window to workspace $ws7

    # Workspace 8
    for_window [class="Clementine"] move window to workspace $ws8
    for_window [class="Spotify"] move window to workspace $ws8
    for_window [class="Rhythmbox"] move window to workspace $ws8
    for_window [app_id="audacity"] move window to workspace $ws8

    # Workspace 10
    for_window [class="Cisco AnyConnect Secure Mobility Client"] to workspace $ws10

    exec --no-startup-id evolution
    exec --no-startup-id Thunar
    exec --no-startup-id spotify
    exec --no-startup-id firefox
    exec --no-startup-id $term

    # Start notification service
    exec --no-startup-id mako

    # Start keyring service
    exec eval $(gnome-keyring-daemon --start)
    exec export SSH_AUTH_SOCK

    # Start a polkit authentication agent
    exec --no-startup-id /usr/bin/gnome-keyring-daemon --daemonize --login

    # Mount Frigg
    exec --no-startup-id ~/scripts/nshares -o Media

    # Mount GoogleDrive
    exec --no-startup-id rclone mount "GoogleDrive": ~/GoogleDrive

