# Specific Sway Working from Home PC config
# vim: set ts=4 sw=4 sts=4 tw=120 cc=120 et ft=swayconfig : 

# Start applications
# ============================================================================
#
# Find apps under Wayland with 'waymsg -p -t get_tree'

    # Workspace 1
    for_window [class="Code"] move window to workspace $ws1

    # Workspace 3
    for_window [app_id="firefox"] move window to workspace $ws3

    # Workspace 4
    for_window [app_id="thunar"] move window to workspace $ws4
    for_window [class="Caja"] move window to workspace $ws4
    for_window [app_id="org.gnome.Nautilus"] move window to workspace $ws4

    # Workspace 5
    for_window [app_id="evolution"] move window to workspace $ws5
    for_window [app_id="evolution-alarm-notify"] move window to workspace $ws5

    # Workspace 6
    for_window [class="[Bb]compare"] move window to workspace $ws6

    # Workspace 7
    for_window [class="Microsoft Teams - Preview"] move window to workspace $ws7
    for_window [class="teams-for-linux"] move window to workspace $ws7

    # Workspace 8
    for_window [class="Clementine"] move window to workspace $ws8
    for_window [class="Spotify"] move window to workspace $ws8
    for_window [class="Rhythmbox"] move window to workspace $ws8
    for_window [app_id="audacity"] move window to workspace $ws8

    # Workspace 10
    for_window [class="Cisco AnyConnect Secure Mobility Client"] to workspace $ws10

    exec --no-startup-id teams-for-linux
    exec --no-startup-id evolution
    exec --no-startup-id nautilus --new-window
    exec --no-startup-id spotify
    exec --no-startup-id firefox
    exec --no-startup-id $term

    # Start notification service
    exec --no-startup-id dunst

    # Start keyring service
    exec eval $(gnome-keyring-daemon --start)
    exec export SSH_AUTH_SOCK

    # Start a polkit authentication agent
    exec --no-startup-id /usr/bin/gnome-keyring-daemon --daemonize --login

    # Start VPN client
    exec --no-startup-id /opt/cisco/anyconnect/bin/vpnui

    # Mount Frigg
    exec --no-startup-id ~/scripts/nshares -o Media

    # Mount GoogleDrive
    exec --no-startup-id rclone --vfs-cache-mode writes mount "GoogleDrive": ~/GoogleDrive

