# Specific Sway Work PC config
# vim: set ts=4 sw=4 sts=4 tw=120 cc=120 et ft=swayconfig : 

# Application Menu
    # Use the rofi application menu
    bindsym $mod+space exec rofi -modi drun#run -show drun -theme mainmenu -monitor 0

#
# TMUX session menus
#
    bindsym $mod+y exec rofi -show tmux -modi "tmux:~/scripts/tmux_sessions.py" -theme tmux_sessions -monitor 0

#
# Sway Remote Server command menu
#
    # bindsym $mod+t exec rofi -show sway -modi "sway:~/scripts/remote_sway_cmds.py"


# Start applications
# ============================================================================
#
# Find apps under Wayland with 'swaymsg -p -t get_tree'

    # Workspace 1
    for_window [class="Code"] move window to workspace $ws1

    # Workspace 3
    for_window [app_id="firefox"] move window to workspace $ws3

    # Workspace 4
    for_window [app_id="[Tt]hunar"] move window to workspace $ws4
    for_window [class="Caja"] move window to workspace $ws4
    for_window [app_id="org.gnome.Nautilus"] move window to workspace $ws4

    # Workspace 5
    for_window [app_id="evolution"] move window to workspace $ws5
    for_window [app_id="evolution-alarm-notify"] move window to workspace $ws5

    # Workspace 6
    for_window [class="[Bb]compare"] move window to workspace $ws6

    # Workspace 7
    for_window [class="Microsoft Teams - Preview"] move window to workspace $ws7
    for_window [class="teams-for-linux"] move window to workspace $ws7

    # Workspace 8
    for_window [class="Clementine"] move window to workspace $ws8
    for_window [class="Spotify"] move window to workspace $ws8
    for_window [class="Rhythmbox"] move window to workspace $ws8
    for_window [app_id="audacity"] move window to workspace $ws8

    # Workspace 10
    for_window [class="Cisco AnyConnect Secure Mobility Client"] move to workspace $ws10
    for_window [app_id="com.cisco.secureclient.gui"] floating enable move to workspace $ws10

    exec --no-startup-id teams-for-linux
    exec --no-startup-id evolution
    exec --no-startup-id Thunar
    exec --no-startup-id firefox
    exec --no-startup-id $term

    # Start notification service
    exec --no-startup-id dunst

    # Start a polkit authentication agent
    exec --no-startup-id /usr/bin/gnome-keyring-daemon --daemonize --login
    exec export SSH_AUTH_SOCK

    # Start VPN client
    # exec --no-startup-id /opt/cisco/secureclient/bin/vpnui

    # Mount Frigg
    # exec --no-startup-id ~/scripts/nshares -o Media

    # Mount OneDrive
    exec --no-startup-id rclone mount "onedrive": ~/OneDrive

    # Mount GoogleDrive
    # exec --no-startup-id rclone mount "GoogleDrive": ~/GoogleDrive

    # Sway services
    exec --no-startup-id systemctl --user start swaybg.service
    exec --no-startup-id systemctl --user start sway_lockscreen.service

# ============================================================================
# Setting up monitors and workspaces
# Get the monitor names with swaymsg -t get_outputs
# ============================================================================

    set $main_monitor "HDMI-A-1"
    set $extra_monitor "DP-1"

    # Arrange monitors
    output $main_monitor pos 0 0 res 2560x1440
    output $extra_monitor pos 2560 0 res 2560x1440

    # Enable or disable the extra monitor
    bindsym $mod+m output $extra_monitor toggle

    # Bind the workspaces for the large monitor
    workspace $ws1 output $main_monitor
    workspace $ws2 output $main_monitor
    workspace $ws3 output $main_monitor
    workspace $ws4 output $main_monitor
    workspace $ws5 output $main_monitor

    # Bind the workspaces for the small monitor
    workspace $ws6  output $extra_monitor
    workspace $ws7  output $extra_monitor
    workspace $ws8  output $extra_monitor
    workspace $ws9  output $extra_monitor
    workspace $ws10 output $extra_monitor

