[Unit]
Description=DavMail Gateway Service
Wants=network-online.target
After=syslog.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/davmail -server %h/.config/davmail/davmail.properties
TimeoutSec=120
Restart=always
RestartSec=5m

[Install]
WantedBy=basic.target

