[Unit]
Description=Wallpaper Change service

[Service]
Type=oneshot
ExecStart=%h/src/proj/pytools/wallpapers/wallpapers.py -x 2560 -y 1440 -w -r /opt/wallpapers -t
