[Unit]
Description=Net Next Install Update Service

[Timer]
Unit=netnextinstall.service
OnCalendar=*-*-* 00:02:00
OnCalendar=*-*-* 06:02:00
OnCalendar=*-*-* 12:02:00
OnCalendar=*-*-* 18:02:00
Persistent=True

[Install]
WantedBy=timers.target

