[Unit]
Description=Sway (Wayland) Idle Detection Service
BindsTo=graphical-session.target
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/local/bin/swayidle -w timeout 1200 '/usr/local/bin/swaylock -f' timeout 1800 '/usr/local/bin/niri msg action power-off-monitors' resume 'systemctl --user restart waybar.service' before-sleep 'playerctl -p spotify pause'
Restart=on-failure

[Install]
WantedBy=graphical-session.target
