[Unit]
Description=Sway (Wayland) Lockscreen Change Service
BindsTo=graphical-session.target
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/python3 %h/scripts/wallpapers.py --lockscreen --niri --info --interval 3600 2560 1440 %h/Pictures/Wallpapers
Restart=on-failure

[Install]
WantedBy=graphical-session.target
