# Get some YouSee Router status information and reboot the router
# Steen Hegelund
# Time-Stamp: 2021-Mar-18 10:34
#
# Install in ~/.config/systemd/user/ to keep it a user service, or
# in /etc/systemd/system to make it a system service

[Unit]
Description=Router Reboot Service

[Service]
Type=oneshot
ExecStart=/opt/scripts/router.py
Wants=router_reboot.timer

