[Unit]
Description=Sway (Wayland) Lockscreen Change Service
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=%h/scripts/wallpapers.py --lockscreen --sway --info --interval 3600 2560 1440 %h/Pictures/Wallpapers
Restart=on-failure
