[Unit]
Description=Sway (Wayland) Wallpaper Change service

[Service]
ExecStart=%h/scripts/wallpapers.py --wallpaper --sway --interval 3600 2560 1440 %h/Pictures/Wallpapers
Restart=on-failure
