[Unit]
Description=Sway (Wayland) Wallpaper Change service

[Service]
Type=oneshot
ExecStart=/home/shegelun/src/proj/devtools/wallpapers/wallpapers.py -x 2560 -y 1440 -p -w -r /opt/wallpapers
ExecStartPost=/home/shegelun/scripts/update_wallpaper.sh

