[Unit]
Description=Sway (Wayland) User Lockscreen Wallpaper Change Timer

[Timer]
OnBootSec=2m
OnUnitActiveSec=2h
Unit=sway_user_lockscreen.service

[Install]
WantedBy=timers.target
