[Unit]
Description=tmux main service

[Service]
Type=forking
ExecStart=%h/.nix-profile/bin/tmux new-session -s main -d
ExecStop=%h/.nix-profile/bin/tmux kill-session -t main

[Install]
WantedBy=multi-user.target
