[Unit]
Description=Wallpaper Change service

[Service]
Type=oneshot
ExecStart=/opt/scripts/wallpapers.py -x 2560 -y 1440 -p -w -r /opt/wallpapers
ExecStartPost=feh --bg-fill /opt/wallpapers/i3wallpaper.jpg

