SUBSYSTEM=="net",ACTION=="add",ATTR{address}=="3c:97:0e:8f:d6:81",NAME="eth0"
SUBSYSTEM=="net",ACTION=="add",ATTR{address}=="14:91:82:3b:69:a6",NAME="eth1"
SUBSYSTEM=="net",ACTION=="add",ATTR{address}=="94:10:3e:b8:64:fd",NAME="eth2"
SUBSYSTEM=="net",ACTION=="add",ATTR{address}=="00:50:b6:56:68:ed",NAME="eth3"
SUBSYSTEM=="net",ACTION=="add",ATTR{address}=="14:91:82:3b:6a:3d",NAME="eth6"
SUBSYSTEM=="net",ACTION=="add",ATTR{address}=="3c:a9:f4:20:eb:80",NAME="wlan0"
SUBSYSTEM=="net",ACTION=="add",ATTR{address}=="20:0c:c8:47:4c:1d",NAME="wlan1"
SUBSYSTEM=="net",ACTION=="add",ATTR{address}=="08:10:77:41:d8:e7",NAME="wlan2"
SUBSYSTEM=="net",ACTION=="add",ATTR{address}=="20:0c:c8:47:4b:41",NAME="wlan3"
SUBSYSTEM=="net",ACTION=="add",ATTR{address}=="04:8d:38:48:f6:f3",NAME="wlan4"

