# Steen Hegelund
# Time-Stamp: 2023-Aug-24 15:57
# vim: set ts=4 sw=4 sts=4 tw=120 cc=120 et ft=udevrules :

SUBSYSTEM=="usb", ATTRS{idVendor}=="a600", ATTRS{idProduct}=="a003", MODE="0664", GROUP="wheel"
