#! /bin/bash
# Steen Hegelund
# Time-Stamp: 2025-Sep-25 16:22
# vim: set ts=4 sw=4 sts=4 tw=120 cc=120 et ft=udevrules :
#
SUBSYSTEM=="gpio", ATTRS{product}=="MCP2221 USB-I2C/UART Combo", SYMLINK+="mcp2221_%s{devpath}", MODE="0664", GROUP="wheel"
SUBSYSTEM=="gpio", ATTRS{product}=="MCP2200 USB Serial Port Emulator", SYMLINK+="mcp2200_%s{devpath}", MODE="0664", GROUP="wheel"
