SUBSYSTEM=="tty", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", ATTRS{devpath}=="1.8.1.5", SYMLINK+="bhr4"
SUBSYSTEM=="tty", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", ATTRS{devpath}=="1.8.1.6", SYMLINK+="bhr5"
SUBSYSTEM=="tty", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", ATTRS{devpath}=="1.8.1.7.4", SYMLINK+="qtn"

# Match tty device to USB device path
# udevadm info -a -n /dev/ttyUSB0 | grep '{devpath}' | head -n1
#
# Find the idVendor and idProduct for the tty device
# udevadm info -a -n /dev/ttyUSB0 | grep '\({idVendor}\|{idProduct}\)' | head -n2
#
# Trigger creation of the symlink:
# 
# sudo udevadm --debug test /sys/class/tty/ttyUSB0
# sudo udevadm --debug test /sys/class/tty/ttyUSB1
# sudo udevadm --debug test /sys/class/tty/ttyUSB2

