/* ==========================================================================
   Rofi color theme
   File: local_tmux.rasi
   ========================================================================== */

* {
    font:                        "Inconsolata 16";
}

listview {
    lines:         15;
    columns:       2;
    fixed-columns: 2;
}

window {
    location:         south west;
}

@import "gruvbox-light-soft.rasi"

