/* ==========================================================================
   Rofi color theme
   File: mainmenu.rasi
   ========================================================================== */


* {
    font:                        "Inconsolata 16";
}
listview {
    lines:         15;
    columns:       3;
    fixed-columns: 3;
}

@import "solarized.rasi"
