/* ==========================================================================
   Rofi color theme
   File: remote_tmux.rasi
   ========================================================================== */

* {
    font:                        "Inconsolata 16";
}

listview {
    lines:         15;
    columns:       2;
    fixed-columns: 2;
}

window {
    location:         south east;
}

@import "gruvbox-dark-soft.rasi"
